<a href="https://colab.research.google.com/github/ronita00/Python_Django/blob/main/Variable_DataType_Numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
x="MBSTU"
print(x);
print(type(x));

MBSTU
<class 'str'>

In [7]:
#Unpack a list:
fruit=["mango","litchy","grapes"]
x,y,z=fruit
print(x)
print(y)
print(z)
print(x  +  y  +  z)

mango
litchy
grapes
mangolitchygrapes

In [8]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [10]:
x = 5.25
print(type(x))
y=int(x)
print(y)
print(type(y))

<class 'float'>
5
<class 'int'>

In [13]:
x = "36 july"
y = 787985668765.87711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'float'>
<class 'int'>

In [14]:
p= 35e3
q = 12E4
r = -87.7e100

print(type(p))
print(type(q))
print(type(r))

<class 'float'>
<class 'float'>
<class 'float'>